<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Thread Dump Report</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" th:href="@{/sbadmin2/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" th:href="@{/sbadmin2/css/sb-admin-2.min.css}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-2">Upload Threaddump File</h1>
                    <p class="mb-4"></p>
                  </div>
                  <form  class="user" role="form" th:action="@{/upload}"  method="POST" enctype="multipart/form-data" autocomplete="off">
                    <div class="form-group">
                      <input name="file" class="form-control form-control-user" type="file" accept=".txt,.log" required id="exampleInputEmail">
                    </div>
                    <button type="submit" class="btn btn-primary btn-user btn-block">Upload</button>
					<button type="reset" class="btn btn-primary btn-user btn-block">Reset</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js" th:src="@{/sbadmin2/vendor/jquery/jquery.min.js}"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/sbadmin2/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js" th:src="@{/sbadmin2/vendor/jquery-easing/jquery.easing.min.js}"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js" th:src="@{/sbadmin2/js/sb-admin-2.min.js}"></script>

  <!-- Page level plugins -->
  <script src="vendor/chart.js/Chart.min.js" th:src="@{/sbadmin2/vendor/chart.js/Chart.min.js}"></script>

  <!-- Page level custom scripts -->
  <!-- Page level plugins -->
  <script src="vendor/datatables/jquery.dataTables.min.js" th:src="@{/sbadmin2/vendor/datatables/jquery.dataTables.min.js}"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.min.js" th:src="@{/sbadmin2/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

  <!-- Page level custom scripts -->
</body>

</html>