<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Thread Dump Report</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" th:href="@{/sbadmin2/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" th:href="@{/sbadmin2/css/sb-admin-2.min.css}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-stethoscope"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Thread Doctor</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Nav Item - Pages Collapse Menu 
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>Components</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Components:</h6>
            <a class="collapse-item" href="buttons.html">Buttons</a>
            <a class="collapse-item" href="cards.html">Cards</a>
          </div>
        </div>
      </li>
	  -->
      <!-- Nav Item - Utilities Collapse Menu 
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Utilities</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Utilities:</h6>
            <a class="collapse-item" href="utilities-color.html">Colors</a>
            <a class="collapse-item" href="utilities-border.html">Borders</a>
            <a class="collapse-item" href="utilities-animation.html">Animations</a>
            <a class="collapse-item" href="utilities-other.html">Other</a>
          </div>
        </div>
      </li>
	  -->
      <!-- Nav Item - Thread Group -->
      <li class="nav-item">
        <a class="nav-link" href="#threadgroup">
          <i class="fas fa-fw fa-grip-lines"></i>
          <span>Thread Group</span></a>
      </li>
      
      <!-- Nav Item - Thread Group -->
      <li class="nav-item">
        <a class="nav-link" href="#methodGroup">
          <i class="fas fa-fw fa-code"></i>
          <span>Method Group</span></a>
      </li>
      
      <!-- Nav Item - GC Threads -->
      <li class="nav-item">
        <a class="nav-link" href="#gcthreads">
          <i class="fas fa-fw fa-broom"></i>
          <span>GC Threads</span></a>
      </li>
      
      <!-- Nav Item - Finalizer Thread -->
      <li class="nav-item">
        <a class="nav-link" href="#finalizerthread">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Finalizer Thread</span></a>
      </li>
      
      <!-- Nav Item - Deadlock Threads -->
      <li class="nav-item">
        <a class="nav-link" href="#deadlockthreads">
          <i class="fas fa-fw fa-draw-polygon"></i>
          <span>Deadlock Threads</span></a>
      </li>
      
      <!-- Nav Item - Waiting for lock -->
      <li class="nav-item">
        <a class="nav-link" href="#waitingforlockthreads">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Waiting For Lock Threads</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <a th:href="@{/uploadform}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-upload fa-sm text-white-50"></i> Upload New Threaddump</a>
          </div>
          
		 <!-- File  Info Starts -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">File Name</h6>
                </div>
                <div class="card-body text-gray-900">
                  <p th:text="${overview.fileName}"></p>
                </div>
              </div>
		 <!-- File  Info Ends -->           

		 <!-- JVM  Info Starts -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">JVM Version</h6>
                </div>
                <div class="card-body text-gray-900">
                  <p th:text="${overview.jvmVersion}"></p>
                </div>
              </div>
		 <!-- JVM  Info Ends -->   
		 <!-- Feedback Starts -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Feedback</h6>
                </div>
                <div class="card-body text-gray-900">
                  <p th:if="${overview.blockedThreadCount>0}" class="text-danger">There are some threads in blocked status which is not good for application.</p>
                  <p th:if="${overview.deadlocks.size()>0}" class="text-danger">There are thread deadlocks detected.</p>
                </div>
              </div>
		  <!-- Feedback Ends -->              
          <!-- Content Row -->
          <div class="row">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-lg font-weight-bold text-primary text-uppercase mb-1">RUNNABLE</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800 text-lg" th:text="${overview.runnableThreadCount}">0</div>
                      <div class="mb-0 text-xs"><a th:target="_blank" th:href="@{/stacktraces?type=RUNNABLE}">Stackraces</a></div>
                    </div>
                    <div class="col-auto">
                      <i class="fa fa-cog fa-2x text-primary"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-lg font-weight-bold text-success text-uppercase mb-1">WAITING</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800 text-lg" th:text="${overview.waitingThreadCount}">0</div>
                      <div class="mb-0 text-xs"><a th:target="_blank" th:href="@{/stacktraces?type=WAITING}">Stackraces</a></div>
                    </div>
                    <div class="col-auto">
                      <i class="fa fa-pause fa-2x text-success"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-lg font-weight-bold text-info text-uppercase mb-1">TIMED_WAITING</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800 text-lg" th:text="${overview.timedWaitingThreadCount}">0</div>
                          <div class="mb-0 text-xs"><a th:target="_blank" th:href="@{/stacktraces?type=TIMED_WAITING}">Stackraces</a></div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fa fa-clock fa-2x text-info"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-lg font-weight-bold text-danger text-uppercase mb-1">BLOCKED</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800 text-lg" th:text="${overview.blockedThreadCount}">0</div>
                      <div class="mb-0 text-xs"><a th:target="_blank" th:href="@{/stacktraces?type=BLOCKED}">Stackraces</a></div>
                    </div>
                    <div class="col-auto">
                      <i class="fa fa-lock fa-2x text-danger"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <!-- Total Thread Count -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-lg font-weight-bold text-primary text-uppercase mb-1">Total</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800 text-lg" th:text="${overview.totalThreadCount}">0</div>
                    </div>
                    <div class="col-auto">
                      <i class="fa fa-plus fa-2x text-primary"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="row">
            <!-- GC Thread Count -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-lg font-weight-bold text-primary text-uppercase mb-1">GC Threads</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800 text-lg" th:text="${overview.threadGroups.get('GC').size()}">0</div>
                    </div>
                    <div class="col-auto">
                      <i class="fa fa-broom fa-2x text-warning"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>          
          <!-- Content Row -->

          <div class="row">
            <!-- Bar Chart -->
            <div class="col-xl-8 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Thread Count Overview</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="myBarChart"></canvas>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Thread Status</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-pie pt-4 pb-2">
                    <canvas id="myPieChart"></canvas>
                  </div>
                  <div class="mt-4 text-center small">
                    <span class="mr-2">
                      <i class="fas fa-circle text-primary"></i> Runnable
                    </span>
                    <span class="mr-2">
                      <i class="fas fa-circle text-success"></i> Waiting
                    </span>
                    <span class="mr-2">
                      <i class="fas fa-circle text-info"></i> Timed Waiting
                    </span>
                    <span class="mr-2">
                      <i class="fas fa-circle text-danger"></i> Blocked
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <!-- Daemon vs Non-daemon Card Example -->
            <div class="col-xl-8 col-lg-7">
	            <div class="col-xl-6 col-md-6 mb-4">
	              <div class="card border-left-info shadow h-100 py-2">
	                <div class="card-body">
	                  <div class="row no-gutters align-items-center">
	                    <div class="col mr-2">
	                      <div class="text-lg font-weight-bold text-info text-uppercase mb-1">Daemon</div>
	                      <div class="row no-gutters align-items-center">
	                        <div class="col-auto">
	                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800 text-lg" th:text="${overview.threadGroups.get('Daemon').size()}">0</div>
	                        </div>
	                      </div>
	                    </div>
	                    <div class="col-auto">
	                      <i class="fa fa-cog fa-2x text-info"></i>
	                    </div>
	                  </div>
	                </div>
	              </div>
	            </div>
	            <div class="col-xl-6 col-md-6 mb-4">
	              <div class="card border-left-success shadow h-100 py-2">
	                <div class="card-body">
	                  <div class="row no-gutters align-items-center">
	                    <div class="col mr-2">
	                      <div class="text-lg font-weight-bold text-success text-uppercase mb-1">Non Daemon</div>
	                      <div class="row no-gutters align-items-center">
	                        <div class="col-auto">
	                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800 text-lg" th:text="${overview.threadGroups.get('Non Daemon').size()}">0</div>
	                        </div>
	                      </div>
	                    </div>
	                    <div class="col-auto">
	                      <i class="fa fa-cog fa-2x text-success"></i>
	                    </div>
	                  </div>
	                </div>
	              </div>
	            </div>	            
            </div>

            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Daemon vs Non Daemon</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-pie pt-4 pb-2">
                    <canvas id="daemonNondaemonPieChart"></canvas>
                  </div>
                  <div class="mt-4 text-center small">
                    <span class="mr-2">
                      <i class="fas fa-circle text-primary"></i> Daemon
                    </span>
                    <span class="mr-2">
                      <i class="fas fa-circle text-success"></i> Non Daemon
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

		 <!-- DataTables Example -->
          <div class="card shadow mb-4" id="threadgroup">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Thread Group</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive text-gray-900">
                <table class="table table-bordered text-gray-900" id="threadGroupDataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Group</th>
                      <th>Count</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="group : ${overview.threadGroups.entrySet()}" th:if="${group.key != 'Daemon' && group.key != 'Non Daemon'}">
                      <td th:text="${group.key}"></td>
                      <td th:text="${group.value.size()}"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          
          <!-- Method group datatable starts-->
          <div class="card shadow mb-4" id="methodGroup">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Method Group</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive text-gray-900">
                <table class="table table-bordered text-gray-900" id="methodGroupDataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Method</th>
                      <th>Count</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="group : ${overview.methodGroup.entrySet()}">
                      <td th:text="${group.key}"></td>
                      <td th:text="${group.value.size()}"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
		 <!-- Method group datatable ends-->
		 
          <!-- Stacktrace Data DataTable -->
          <div class="card shadow mb-4" id="stackTrace">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Stack Traces</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive text-gray-900">
                <table class="table table-bordered text-gray-900" id="stackTraceDataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Stacktrace</th>
                      <th>Count</th>
                      <th>Consuming CPU</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="group : ${overview.stackTraceThreadGroup}" >
                      <td th:text="${group.stackTrace}"></td>
                      <td th:text="${group.threads.size()}"></td>
                      <td th:text="${group.consumingCPU}"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          
          <!-- Exception DataTable -->
          <div class="card shadow mb-4" id="exception">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Exceptions</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive text-gray-900">
                <table class="table table-bordered text-gray-900" id="exceptionDataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Exception</th>
                      <th>Count</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="group : ${overview.stackTraceThreadGroup}" th:if="${group.exception}" >
                      <td th:text="${group.stackTrace}"></td>
                      <td th:text="${group.threads.size()}"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>          
          
		 <!-- DataTales Example -->
          <div class="card shadow mb-4" id="gcthreads">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">GC Thread</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive text-gray-900">
                <table class="table table-bordered text-gray-900" id="gcDataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>States</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="thread : ${overview.threadGroups.get('GC')}">
                      <td th:text="${thread.name}"></td>
                      <td th:text="${thread.status}"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>      
          
         <!-- Finalizer feedback starts -->
		 <div id="finalizerthread">
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Finalizer Information</h6>
                </div>
                <div class="card-body text-gray-900">
                  <p class="text-success" th:if="${overview.finalizerThread == null}" th:text="${'No finalizer running.'}"></p>
                  <p class="text-success" th:if="${overview.finalizerThread == null or 'WAITING' == overview.finalizerThread.status}" th:text="${'Finalizer is in waiting status so no issue.'}"></p>
                  <p class="text-danger" th:if="${overview.finalizerThread!=null and  'WAITING' != overview.finalizerThread.status}" th:text="${'Finalizer thread doing some finalization, which is not a good thing for JVM. Please make sure that its necessary to override finalize.'}"></p>
                </div>
              </div>
         </div>
         <!-- Finalizer feedback starts --> 
            
		 <!-- Deadlock feedback starts -->
		 <div id="deadlockthreads">
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Deadlock Information</h6>
                </div>
                <div class="card-body text-gray-900">
                  <p class="text-success" th:if="${overview.deadlocks.isEmpty()}">No deadlock detected.</p>
                  <p class="text-danger" th:unless="${overview.deadlocks.isEmpty()}" th:text="${overview.deadlocks.size()+ ' deadlock(s) detected.'}"></p>
                </div>
              </div>
         <th:block th:if="${overview.deadlocks.size()>0}">
            <div class="col-xl-12 col-md-6 mb-4" th:each="deadlock : ${overview.deadlocks}" >
              <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="font-weight-bold text-danger text-uppercase mb-1">Deadlock detected between below threads.</div>
                      <div class="mb-0 font-weight-bold" th:text="${deadlock.threads}">-</div>
                      <div class="mb-1" th:text="${deadlock.detail}">-</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
         </th:block>
         </div>
		 <!-- Deadlock feedback ends --> 
		 
          <!-- DataTales Example -->
          <!-- Locked Thread Information -->
         <div id="waitingforlockthreads"> 
         <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Threads waiting for lock information</h6>
                </div>
                <div class="card-body">
                  <p class="text-success" th:if="${overview.lockedThreadDataMap.isEmpty()}">No thread waiting for lock.</p>
                  <p class="text-danger" th:unless="${overview.lockedThreadDataMap.isEmpty()}">Found few waiting threads.</p>
                </div>
              </div>
         <th:block th:each="entry : ${overview.lockedThreadDataMap.entrySet()}" th:if="${entry.value.waitingToHoldThreads.size() > 0}">
           <!-- Stacktrace Modal-->
  <div th:each="waitingThread : ${entry.value.waitingToHoldThreads}" class="modal fade" th:id="${'stackTraceModal'+#strings.replace(waitingThread.name,' ','-')}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Stacktrace</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body" th:text="${waitingThread.stackTrace}"></div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
         </th:block>
         <th:block th:each="entry : ${overview.lockedThreadDataMap.entrySet()}" th:if="${entry.value.waitingToHoldThreads.size() > 0}">
		 <!-- Waiting for lock feedback starts -->
            <div class="col-xl-12 col-md-6 mb-4">
              <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="font-weight-bold text-danger text-uppercase mb-1" th:text="${'Thread '+entry.value.lockHoldingThread.name+' holding a lock for which other '+ entry.value.waitingToHoldThreads.size()+' thread(s)are getting blocked'}"></div>
                      <div class="mb-0 font-weight-bold" th:text="${'Method : '+entry.value.lockHoldingThread.method}">0</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
		 <!-- Waiting for lock feedback ends -->          
          <div class="card shadow mb-4">
            <div class="card-header py-3" >
              <h6 class="m-0 font-weight-bold text-primary" th:text="${entry.value.lockHoldingThread !=null? (entry.value.lockHoldingThread.name+' : '+entry.key):entry.key}">Waiting For Lock Threads</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered text-gray-900" id="lockedThreadDataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Waiting Thread(s)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr  th:each="waitingThread : ${entry.value.waitingToHoldThreads}">
                      <td><a href="#"
														data-toggle="modal"
														th:attr="data-target='#stackTraceModal'+${#strings.replace(waitingThread.name,' ','-')}">
															<span th:text="${waitingThread.name}"></span>
													</a>
					 </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div> 
          </th:block>
          </div>
          <!-- Content Row -->
          <div class="row">
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js" th:src="@{/sbadmin2/vendor/jquery/jquery.min.js}"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/sbadmin2/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js" th:src="@{/sbadmin2/vendor/jquery-easing/jquery.easing.min.js}"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js" th:src="@{/sbadmin2/js/sb-admin-2.min.js}"></script>

  <!-- Page level plugins -->
  <script src="vendor/chart.js/Chart.min.js" th:src="@{/sbadmin2/vendor/chart.js/Chart.min.js}"></script>

  <!-- Page level custom scripts -->
  <!-- Page level plugins -->
  <script src="vendor/datatables/jquery.dataTables.min.js" th:src="@{/sbadmin2/vendor/datatables/jquery.dataTables.min.js}"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.min.js" th:src="@{/sbadmin2/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/datatables-demo.js" th:src="@{/sbadmin2/js/demo/datatables-demo.js}"></script>
<script th:inline="javascript">
// Set new default font family and font color to mimic Bootstrap's default styling
Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#858796';

// Pie Chart Example
var ctx = document.getElementById("myPieChart");
var myPieChart = new Chart(ctx, {
  type: 'doughnut',
  data: {
    labels: ["Runnable", "Waiting", "Timed Waiting","Blocked"],
    datasets: [{
      data: [ /*[[${overview.runnableThreadCount}]]*/ , /*[[${overview.waitingThreadCount}]]*/, /*[[${overview.timedWaitingThreadCount}]]*/, /*[[${overview.blockedThreadCount}]]*/],
      backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc', '#e74a3b'],
      hoverBackgroundColor: ['#2e59d9', '#17a673', '#2c9faf', '#e74a3b'],
      hoverBorderColor: "rgba(234, 236, 244, 1)",
    }],
  },
  options: {
    maintainAspectRatio: false,
    tooltips: {
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      caretPadding: 10,
    },
    legend: {
      display: false
    },
    cutoutPercentage: 80,
  },
});


var ctx = document.getElementById("daemonNondaemonPieChart");
var myPieChart = new Chart(ctx, {
  type: 'doughnut',
  data: {
    labels: ["Daemon", "Non Daemon"],
    datasets: [{
      data: [ /*[[${overview.threadGroups.get('Daemon').size()}]]*/ , /*[[${overview.threadGroups.get('Non Daemon').size()}]]*/],
      backgroundColor: ['#4e73df', '#1cc88a'],
      hoverBackgroundColor: ['#2e59d9', '#17a673'],
      hoverBorderColor: "rgba(234, 236, 244, 1)",
    }],
  },
  options: {
    maintainAspectRatio: false,
    tooltips: {
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      caretPadding: 10,
    },
    legend: {
      display: false
    },
    cutoutPercentage: 80,
  },
});

//Set new default font family and font color to mimic Bootstrap's default styling
Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#858796';

function number_format(number, decimals, dec_point, thousands_sep) {
  // *     example: number_format(1234.56, 2, ',', ' ');
  // *     return: '1 234,56'
  number = (number + '').replace(',', '').replace(' ', '');
  var n = !isFinite(+number) ? 0 : +number,
    prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
    sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
    dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
    s = '',
    toFixedFix = function(n, prec) {
      var k = Math.pow(10, prec);
      return '' + Math.round(n * k) / k;
    };
  // Fix for IE parseFloat(0.55).toFixed(0) = 0;
  s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
  if (s[0].length > 3) {
    s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
  }
  if ((s[1] || '').length < prec) {
    s[1] = s[1] || '';
    s[1] += new Array(prec - s[1].length + 1).join('0');
  }
  return s.join(dec);
}

// Bar Chart Example
var ctx = document.getElementById("myBarChart");
var myBarChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: ["Runnable", "Waiting", "Timed Waiting", "Blocked"],
    datasets: [{
      label: "Thread Count",
      //backgroundColor: "#4e73df",
      backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc', '#e74a3b'],
      hoverBackgroundColor: "#2e59d9",
      borderColor: "#4e73df",
      data: [ /*[[${overview.runnableThreadCount}]]*/ , /*[[${overview.waitingThreadCount}]]*/, /*[[${overview.timedWaitingThreadCount}]]*/, /*[[${overview.blockedThreadCount}]]*/],
    }],
  },
  options: {
    maintainAspectRatio: false,
    layout: {
      padding: {
        left: 10,
        right: 25,
        top: 25,
        bottom: 0
      }
    },
    scales: {
      xAxes: [{
        time: {
          unit: 'month'
        },
        gridLines: {
          display: false,
          drawBorder: false
        },
        ticks: {
          maxTicksLimit: 6
        },
        maxBarThickness: 25,
      }],
      yAxes: [{
        ticks: {
          min: 0,
          maxTicksLimit: 5,
          padding: 10,
          // Include a dollar sign in the ticks
          callback: function(value, index, values) {
            return number_format(value);
          }
        },
        gridLines: {
          color: "rgb(234, 236, 244)",
          zeroLineColor: "rgb(234, 236, 244)",
          drawBorder: false,
          borderDash: [2],
          zeroLineBorderDash: [2]
        }
      }],
    },
    legend: {
      display: false
    },
    tooltips: {
      titleMarginBottom: 10,
      titleFontColor: '#6e707e',
      titleFontSize: 14,
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      caretPadding: 10,
      callbacks: {
        label: function(tooltipItem, chart) {
          var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
          return datasetLabel + ':' + number_format(tooltipItem.yLabel);
        }
      }
    },
  }
});
</script>
</body>

</html>
