<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>JIT Log Report</title>

  <!-- Custom fonts for this template-->
  <link href="@{/sbadmin2/vendor/fontawesome-free/css/all.min.css" th:href="@{/sbadmin2/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="sbadmin2/css/sb-admin-2.min.css" th:href="@{/sbadmin2/css/sb-admin-2.min.css}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="sbadmin2/index.html">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-stethoscope"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Thread Doctor</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Nav Item - Pages Collapse Menu 
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>Components</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Components:</h6>
            <a class="collapse-item" href="buttons.html">Buttons</a>
            <a class="collapse-item" href="cards.html">Cards</a>
          </div>
        </div>
      </li>
	  -->
      <!-- Nav Item - Utilities Collapse Menu 
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Utilities</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Utilities:</h6>
            <a class="collapse-item" href="utilities-color.html">Colors</a>
            <a class="collapse-item" href="utilities-border.html">Borders</a>
            <a class="collapse-item" href="utilities-animation.html">Animations</a>
            <a class="collapse-item" href="utilities-other.html">Other</a>
          </div>
        </div>
      </li>
	  -->
      <!-- Nav Item - Thread Group -->
      <li class="nav-item">
        <a class="nav-link" href="#threadgroup">
          <i class="fas fa-fw fa-grip-lines"></i>
          <span>Thread Group</span></a>
      </li>
      
      <!-- Nav Item - Thread Group -->
      <li class="nav-item">
        <a class="nav-link" href="#methodGroup">
          <i class="fas fa-fw fa-code"></i>
          <span>Method Group</span></a>
      </li>
      
      <!-- Nav Item - GC Threads -->
      <li class="nav-item">
        <a class="nav-link" href="#gcthreads">
          <i class="fas fa-fw fa-broom"></i>
          <span>GC Threads</span></a>
      </li>
      
      <!-- Nav Item - Finalizer Thread -->
      <li class="nav-item">
        <a class="nav-link" href="#finalizerthread">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Finalizer Thread</span></a>
      </li>
      
      <!-- Nav Item - Deadlock Threads -->
      <li class="nav-item">
        <a class="nav-link" href="#deadlockthreads">
          <i class="fas fa-fw fa-draw-polygon"></i>
          <span>Deadlock Threads</span></a>
      </li>
      
      <!-- Nav Item - Waiting for lock -->
      <li class="nav-item">
        <a class="nav-link" href="#waitingforlockthreads">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Waiting For Lock Threads</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

     <div class="container-fluid">
          <!-- Page Content -->
          <h1>Upload threaddump file</h1>
          <h5 th:if="${errorstatus == 'duplicaterecord'}">There is already an existing document with same name.</h5>
			<div class="row">
				<div class="col-lg-6">
					<form role="form" th:action="@{/jit/upload}"  method="POST" enctype="multipart/form-data" autocomplete="off">
						<fieldset class="form-group">
							<label>File</label>
							<input name="file" type="file" accept=".txt,.log" required class="form-control" id="file">
							<p class="help-block"></p>
						</fieldset>						
						<button type="submit" class="btn btn-primary">Upload</button>
						<button type="reset" class="btn btn-primary">Reset</button>
					</form>
				</div>
			</div>
		<!-- /.row -->
        </div>

		 
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js" th:src="@{/sbadmin2/vendor/jquery/jquery.min.js}"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/sbadmin2/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js" th:src="@{/sbadmin2/vendor/jquery-easing/jquery.easing.min.js}"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js" th:src="@{/sbadmin2/js/sb-admin-2.min.js}"></script>

  <!-- Page level plugins -->
  <script src="vendor/chart.js/Chart.min.js" th:src="@{/sbadmin2/vendor/chart.js/Chart.min.js}"></script>

  <!-- Page level custom scripts -->
  <!-- Page level plugins -->
  <script src="vendor/datatables/jquery.dataTables.min.js" th:src="@{/sbadmin2/vendor/datatables/jquery.dataTables.min.js}"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.min.js" th:src="@{/sbadmin2/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

  <!-- Page level custom scripts -->
</body>

</html>